* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lalezar', cursive;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: white;
}

.grid {
    display: grid;
}

.button-active {
    filter: brightness(70%) !important;
}

.hover:hover {
    filter: brightness(120%);
    -webkit-transition: filter 0.5s;
    /* Safari */
    -o-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    transition: filter 0.5s
}

/* the grid system */

.container {
    grid-template-columns: 1fr;
    grid-template-areas: "header header" "background background" " basic-form basic-form" "templates templates";
    background: #E0E0E0;
    background: -webkit-linear-gradient(90deg, #E0E0E0, white);
    background: -o-linear-gradient(90deg, #E0E0E0, white);
    background: linear-gradient(90deg, #E0E0E0, white 60%);
}
header {
    height: 60px;
    grid-area: header;
    background-color: #4C8CC9;
}
.log-reg {
    margin: 18px;
    color: white;
    float: right;
}
.background {
    grid-area: background;
    background-image: url(../img/blue.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*    height: 20%;*/
    color: #4C8CC9;
    padding: 9%;
    font-family: 'Monoton', cursive;
    font-size: 40px;
}



/*form sections=====================*/

#basic-form {
    grid-area: basic-form;
    grid-template-columns: 4fr 8fr;
    grid-gap: 5px;
    padding: 0 10%;
    min-height: 300px;
}

#mainForm {
    margin: 0;
}

main .inputs {
    display: none;
}

.multi {
    grid-template-columns: 1fr 1fr;
}

main input,
textarea{
    padding: 10px;
    border: none;
    margin: 20px;
    border-left: 2px solid #4C8CC9;
    background-color: #E2E2E2
}
input[type="file"]{
    display:none;
}

textarea {
    min-width: 200px;
    overflow: hidden;
    resize: vertical;
}
.file{
    display: inline-block;
    margin: 20px;
    text-align: center;
    width:191px;
    height:35px;
    padding:7px!important;
    
}
.button {
    cursor: pointer;
    color: white;
    background-color: #4C8CC9;
    padding: 3px;
}

.close {
    border: solid #4C8CC9;
    margin-left: 20px;

}

.add {
    border: solid #4C8CC9;
    float: right;
    margin-top: 10px;

}

/* buttons sidebar section  */

nav {
    position: relative;
}

nav ul {
    color: black;
    grid-gap: 2px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    position: relative;
}

nav li {
    display: grid;
    align-items: center;
    list-style: none;
    cursor: pointer;
    min-height: 100px;
    text-align: center;
    font-size: 20px;
    color: lightgray;
}

#basicButton {
    background-color: #3681f9;
    grid-column: 1/7;
    grid-row: 1/3;
}

#workButton {
    background-color: #27ADA2;
    color: lightgray;
    grid-column: 1/4;
    grid-row: 3/5;
}

#educationButton {
    background-color: grey;
    color: lightgray;
    grid-column: 4/7;
    grid-row: 3/5;
}

#interestsButton {
    background-color: #4C8CC9;
    color: lightgray;
    grid-column: 1/3;
    grid-row: 5/7;
}

#skillsButton {
       background-color: #7742f4;
   
    grid-column: 3/5;
    grid-row: 5/7;
}
#personalButton{
    background-color: #526591;
    grid-column: 5/7;
    grid-row: 5/7;
}
.create {
    width: 100%;
    min-height: 310px;
    color: #4C8CC9;
    font-family: 'Monoton', cursive;
    font-size: 35px;
}
.create .c2 {
    text-align: center;
}

.create .c3 {
    float: right;
}



/* templates======== */

.templates {
    grid-area: templates;
    align-self: stretch;
    grid-template-rows: 5fr 1fr;
    background-image: url(../img/temp.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}

#tembplateForm {
    padding: 0 20%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    /*    margin:0;*/
}

input[type="radio"] {
    display: none;

}

input[type="radio"] + label {
    align-self: center;
    width: 225px;
    height: 300px;
    display: block;
    padding: 0 0 0 0px;
    cursor: pointer;
    border-top: 5px solid white;
    /*    border-radius: 5px;*/
}

input[type="radio"] + label:hover,
input[type="radio"]:checked + label {
    border-color: #4C8CC9;
    box-sizing: border-box;
    filter: brightness(80%);
    -webkit-transition: filter 0.5s;
    /* Safari */
    -o-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
    transition: filter border-color 0.5s;
}
.cv1{
    background-image: url(../img/template1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cv2{
    background-image: url(../img/template2.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.cv3{
    background-image: url(../img/template3.png);
        background-repeat: no-repeat;
    background-size: cover;
}


/*----------------------------*/

/* form nav ===========*/

/* form inputs =========== */

/*------------------------------*/

.submitButton {
    width: 300px;
    height: 100px;
    border: none;
    background-color: #5C86C4;
    font-size: 15px;
    font-weight: bold;
    font-size: 25px;
}

.footer {
    align-self: center;
    justify-self: center;
}

/*

.colorPickers{
    grid-template-columns:1fr;
    grid-template-rows:1fr 1fr 1fr;
    justify-items:start;
}
input[type="color"]{
    width:100%;
    height:15px;
    border:none;
    border-width: 0;
    border-radius:5px;
    padding: 0px;
    background-color:transparent;
    
}
 input[type="color"] + label  {
}

*/

/* footer============ */

footer {

    height: 100px;
    background-color: ;
    text-align: center;
}

@media only screen and (max-width: 320px) {}